<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <!-- About 3 - Bootstrap Brain Component -->
        <section class="py-3 py-md-5">
            <div class="container mb-4 mb-md-5">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-10 col-xxl-8">
                        <img class="img-fluid" loading="lazy" src="/static/image/logo.png" height="300px" width="300px"
                            alt="About 3">
                    </div>
                </div>
            </div>

            <div class="container overflow-hidden">
                <div class="row gy-2 gy-md-0 justify-content-xxl-center">
                    <div class="col-12 order-md-1 col-md-8 col-xxl-6">
                        <div class="text-center text-md-start">
                            <h2 class="display-3 fw-bold lh-1">Kasturirangan P</h2>
                            <p class="text-secondary fs-4 mb-2">Founder & CEO of <b><i>Krima Solutions</i></b></p>
                            <hr class="w-25 mx-auto ms-md-0 mb-4 text-secondary">
                            <p>Krima Solutions is a new economy firm that believes in <mark style="color: rgb(233, 134, 6);background-color: transparent;">technology enabled services</mark>  that
                                enhance end-customer experience of digital assets owned by corporations, digital
                                publishing firms, event firms and ecommerce companies. Krima provides entire <mark style="color: rgb(233, 134, 6);background-color: transparent;">digital
                                    lifecycle services</mark>  for building and maintaining digital assets. We plan for, design and
                                conceptualise digital assets. Developing <mark style="color: rgb(233, 134, 6);background-color: transparent;">customer-focused UX/UI</mark>  and providing 
                                <mark style="color: rgb(233, 134, 6);background-color: transparent;">researched
                                    content</mark> and its ongoing maintenance is our core expertise. We provide on-going and
                                routine <mark style="color: rgb(233, 134, 6);background-color: transparent;">forensics on online user behaviour</mark> & preferences and help clients tweak their
                                digital design and content strategy for more effective results.

                                We have been able to solve several challenges and pain-staking problems to generate
                                meaningful and relevant data from unstructured, disparate medium of information onto a
                                structured database/platform. Our clients can get access to processed information on a
                                near-live basis with speed and accuracy. AI created machine learning algorithms
                                constantly improve themselves.

                                SMART BASICS is what we follow. No big frills of huge physical infrastructure, but one
                                that is functional and top class in effectiveness. A huge focus on working with
                                best-in-class professionals we believe in "SMART BASICS". Clients fully leverage their
                                access to our skilled resources be it automation experts or researchers and analysts.
                                Our deliverables focus purely on three simple things: correctness, completeness and
                                timeliness. This enables our objective of enabling our clients to enhance value through
                                cost and beyond.

                                Innovation, problem solving ability, proactivity from Krima Solutions will help you
                                enhance your brands and the digital assets. We help you with technology that is
                                cutting-edge; one that is effective, efficient, result oriented and yes, definitely
                                disruptive.</p>
                           
                        </div>
                    </div>
                    <div class="col-12 order-md-0 col-md-4 col-xxl-4">
                        <div class="text-center text-md-start me-md-3 me-xl-5">
                            <p class="mb-4">
                                <span class="d-block display-6 lh-1">Startup</span>
                                <span class="fs-4 text-secondary">Growing Startup</span>
                            </p>
                            <div class="d-grid">
                                
                                <a href="/" class="btn btn-outline-primary btn-lg">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




</body>

</html>