.td1{
   
    font-size: 17px !important;
}
.td2{
    color: rgb(5, 6, 3);
    font-size: 18px;
    font-weight: 700;
}

.th1{
    color: rgb(235, 68, 12) !important;
   
}


.myc{
    margin-top: 150px !important;
}